<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <!-- Using jsdelivr CDN using github for static files -->
    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/RaunakMandal/excel-parser-django@master/static/css/styles.css">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/gh/RaunakMandal/excel-parser-django@master/static/js/script.js"></script>
</body>
</html>